@font-face {
    font-family: "Geo Sans Light";
    src: url("../fonts/GeosansLight.ttf");
}
@font-face{
    font-family: "Franchise";
    src: url("../fonts/Franchise-Bold.ttf")
}
body{
    background-color: #f0f0f0;
}
h1, h2, h3{
    font-family: "Franchise", Tahomas, sans-serif;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 2em;
    background-color: #75A57B;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
}
p{
    float: left;
    font-family: "Geo Sans Light", Helvetica, sans-serif;
    font-size: 1.5em;
}
li{
    font-family: "Geo Sans Light";
    font-size: 1.3em;
    list-style-type: decimal-leading-zero;
    background-color: #E0E4E5;
}
table{
    width: 85%;
}
.caption{
    font-size: 1em;
}
.gauge{
    width: 50%;
    height: 50%;
    float: left;
}
#container{
    background-color: #B8D2B4;
}
#intro, #gauges-intro{
    background-color: #E0E4E5;
    padding: 5px;
    font-size: 1.3em;
}
#line-graph{
    clear: both;
    width: 99%;
    height: 340px;
    float: left;
    margin-bottom: 15px;
}
#bar-graph{
    height: 560px;
    margin-bottom: 20px;
    clear: both;
}
#gauges-intro{
    float: none;
}
#selected-foods-wrapper{
    height: 100%;
    font-family: "Franchise";
    background-color: #E0E4E5;
    margin-top: 50px;
}
#selected-foods{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    background-color: #E0E4E5;
}